<ion-header>
	
		<ion-navbar>
			<ion-title>CADASTRAR</ion-title>
		</ion-navbar>
	
	</ion-header>
	
	<ion-content padding>
	
	
		<form padding [formGroup]="formCadastro" (ngSubmit)="submit(); $event.preventDefault()">
	
			<ion-list no-lines>
				<ion-item *ngIf="error">
					<p>Os dados informados não estão corretos.</p>
				</ion-item>

				<ion-item>
						<ion-label floating>Nome:</ion-label>
						<ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="name"></ion-input>
				</ion-item>
					<ion-item *ngIf="formCadastro.get('name').errors && formCadastro.get('name').dirty">
						<p *ngIf="formCadastro.get('name').hasError('required')">Campo obrigatório</p>
					</ion-item>
		 
				<ion-item>
					<ion-label floating>E-mail:</ion-label>
					<ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="email"></ion-input>
				</ion-item>
				<ion-item *ngIf="formCadastro.get('email').errors && formCadastro.get('email').dirty">
					<p *ngIf="formCadastro.get('email').hasError('required')">Campo obrigatório</p>
					<p *ngIf="formCadastro.get('email').hasError('pattern')">E-mail inválido</p>
				</ion-item>
	
				<ion-item>
					<ion-label floating>Senha:</ion-label>
					<ion-input type="password" formControlName="password"></ion-input>
				</ion-item>
				<ion-item *ngIf="formCadastro.get('password').errors && formCadastro.get('password').dirty">
					<p *ngIf="formCadastro.get('password').hasError('required')">Campo obrigatório</p>
					<p *ngIf="formCadastro.get('password').hasError('minlength')">Mínimo 6 caracteres</p>
				</ion-item>
			

			<ion-item>
					<ion-label floating>Confirmar Senha:</ion-label>
					<ion-input type="password" formControlName="confirmarSenha"></ion-input>
				</ion-item>
				<ion-item *ngIf="formCadastro.get('confirmarSenha').errors && formCadastro.get('confirmarSenha').dirty">
					<p *ngIf="formCadastro.get('confirmarSenha').hasError('required')">Campo obrigatório</p>
					<p *ngIf="formCadastro.get('confirmarSenha').hasError('minlength')">Mínimo 6 caracteres</p>
				</ion-item>
			</ion-list>
	
			<button ion-button full type="submit" [disabled]="formCadastro.invalid">CONFIRMAR</button>
		</form>
	
	</ion-content>