﻿<ion-header>
  
    <ion-navbar>
      <ion-title>ENTRAR</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  <ion-content padding>
  
  
    <form padding [formGroup]="formLogin" (ngSubmit)="login(); $event.preventDefault()">
  
      <ion-list no-lines>
        <ion-item *ngIf="error">
          <p>Os dados informados não estão corretos.</p>
        </ion-item>
  
        <ion-item>
          <ion-label floating>E-mail</ion-label>
          <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="email"></ion-input>
        </ion-item>
        <ion-item *ngIf="formLogin.get('email').errors && formLogin.get('email').dirty">
          <p *ngIf="formLogin.get('email').hasError('required')">Campo obrigatório</p>
          <p *ngIf="formLogin.get('email').hasError('pattern')">E-mail inválido</p>
        </ion-item>
  
        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input type="{{type}}" formControlName="password"></ion-input>
          
        </ion-item>
        <ion-item *ngIf="formLogin.get('password').errors && formLogin.get('password').dirty">
          <p *ngIf="formLogin.get('password').hasError('required')">Campo obrigatório</p>
          <p *ngIf="formLogin.get('password').hasError('minlength')">Mínimo 6 caracteres</p>
        </ion-item>
      </ion-list>
  
      <ion-item>
        <ion-label>Mostrar Senha</ion-label>
        <ion-checkbox color="dark" checked="false" (click)="showPassword()"></ion-checkbox>
      </ion-item>
      
      <button ion-button full type="submit" [disabled]="formLogin.invalid">ENTRAR</button>
  
    </form>
  
  
  </ion-content>
  
  