chat {
  .message {
    font-size: medium;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

  .message-name {  
    p {
      padding-bottom: 3px;
      color: map-get($colors, dark);
    }
  }

  .message-datetime {
    p {
      padding-top: 5px;
      color: map-get($colors, dark);
    }
  }

  .chat-bubble {
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px 3px 10px;
    position: relative;
    margin-bottom: 5px;
    margin-left: 10px;
    max-width: 80%;
  }

  .chat-bubble:before {
    content: "\00a0";
    display: block;
    height: 16px;
    width: 9px;
    position: absolute;
    bottom: -7.5px;
  }

  .chat-bubble.left {
    background-color: map-get($chat-bubble, background-left);
    float: left;
    margin-left: 5px;
  }

  .chat-bubble.left:before {
    background-color: map-get($chat-bubble, background-left);
    left: -2px;
    top: 0px;
    -webkit-transform: rotate(180deg) skew(30deg);
  }

  .chat-bubble.right {
    background-color: map-get($chat-bubble, background-right);
    color: #000;
    float: right;
    margin-right: 5px;
  }

  .chat-bubble.right:before {
    background-color: map-get($chat-bubble, background-right);
    right: -2px;
    top: 0px;
    -webkit-transform: rotate(180deg) skew(-30deg);
  }

  .chat-bubble.right a.autolinker {
    color: #000;
    font-weight: bold;
  }

  .button-round-ios {
    padding-left: 0;
    padding-right: 0;
  }
}
