page-chat {
    ion-label {
        margin: 0 !important;
    }

    .item {
        padding-left: 0;
    }

    .chat-item {
        background-color: transparent;
    }

    .chatPageFooter {
        background-color: #f9f9f9;
        padding: 10px 10px 5px 10px;
    }

    .text-input {
        margin-bottom: 0;
    }

    .text-area {
        border-radius: 30px;
    }

    .item-input ion-textarea {
        border-radius: 30px;
        padding-left: 15px;
        padding-right: 5px;
    }

    .button-round {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    .footer-md::before {
        background-image: url('');
    }

    .scroll-content {
        margin-bottom: 28px !important;
    }

    .background-message {
        background-color: lightslategray;
    }

    .typing-message {
        margin: 0 10px 10px 0;
        float: right;
    }

    .input-message {
        font-size: 18px;

        input {
            margin-top: 0;
        }
    }
}
