<ion-header>
  <ion-navbar>
    <ion-buttons>
      <button ion-button icon-only (click)="alertMap()">
          <ion-icon name="locate"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <p>{{nomeDoUsuario}}</p>
  <form padding [formGroup]="formChat" (ngSubmit)="chat(); $event.preventDefault()" >
    <ion-list no-lines>
      <ion-item *ngFor="let msg of messages" class="chat-item" onload="ionViewDidLoad()">
        <chat [message]="msg" ion-long-press></chat>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<form padding [formGroup]="formChat" (ngSubmit)="chat(); $event.preventDefault()">  
<ion-footer>
    <ion-spinner icon="dots" color="primary" class="typing-message" *ngIf="showTyping"></ion-spinner>
    <ion-toolbar class="no-border background-message" color="white">
      <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="messages" 
        placeholder="Digite aqui..." class="input-message"></ion-input>
      <ion-buttons end>
        <button ion-button type="submit">
          <ion-icon name="send" color="primary"></ion-icon>
      </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
  </form>