page-bemvindo {
    #bemvindo{
    
        h1{
            font-size: 30px;
            margin-top: 10px;
        }
        .margintop{
            margin-top: 100px;
        }
        img {
            display: block;
            margin: 0 auto;
        }
        
        background-color:#A2FFB2;
    
    }
    }