<ion-content id="bemvindo" padding="true" class="manual-ios-statusbar-padding">
      <div>
        <img src="assets/img/d55QE1P1QpebVWkK09EW_icon-5.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <br>
      <h4 id="pETHELPER-heading1" style="color:#000000;font-weight:600;text-align:center;">BEM VINDO AO PET HELPER!</h4>
      <br>
      <button id="entrar" ion-button full (click)="entrar()">ENTRAR</button>
      <button id="cadastrar" ion-button full color="danger" (click)="cadastrar()">CADASTRAR</button>
</ion-content>
