<!--
  Generated template for the AlterarContaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>alterarConta</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <form padding [formGroup]="formUpdate" (ngSubmit)="updateUser(); $event.preventDefault()">
          <ion-list no-lines>
            <ion-item *ngIf="error">
              <p>Os dados informados não estão corretos.</p>
            </ion-item>
            <ion-item>
              <ion-label floating>Nome</ion-label>
              <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="name"></ion-input>
            </ion-item>
            <ion-item *ngIf="formUpdate.get('name').errors && formUpdate.get('name').dirty">
              <p *ngIf="formUpdate.get('name').hasError('required')">Campo obrigatório</p>
            </ion-item>
            <ion-item>
              <ion-label floating>E-mail</ion-label>
              <ion-input type="text" spellcheck="false" autocapitalize="off" formControlName="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="formUpdate.get('email').errors && formUpdate.get('email').dirty">
              <p *ngIf="formUpdate.get('email').hasError('required')">Campo obrigatório</p>
              <p *ngIf="formUpdate.get('email').hasError('pattern')">E-mail inválido</p>
            </ion-item>
          </ion-list>
          <button ion-button full type="submit" [disabled]="formUpdate.invalid">Alterar Conta</button>
        </form>
</ion-content>